<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="d-flex mx-auto">
            <div class="mb-3 row">
                <label for="search" class="col-sm-2 col-form-label">Search</label>
                <div class="col-sm-10">
                    <input id="search" class="col-sm-10 form-control me-2" type="text" placeholder="Search for food item" [(ngModel)]="searchTerm"
                        aria-label="Search">
                </div>
            </div>
        </div>
    </div>
</nav>
<h3>{{searchTerm}}</h3>
<div class="container pt-3">
    <div class="row">
        <div class="col-sm-4" *ngFor="let food of searchedItems">
            <div class="card">
                <img src="assets/images/{{food.image}}" class="card-img-top" alt="{food.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{food.name}}</h5>
                    <p class="card-text">Price: {{food.price}}$</p>
                    <a (click)="addToCart(food)" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>